
.info{
    border-bottom: 1px solid #ccc;
    
}
.infoCat{
    padding-right: 0.25rem;
    font-weight: 700;
}
.infoCon{
    padding-left:0.25rem;
    font-weight: 400;
}
.historyTime{
    padding-left:0.25rem;
    font-size: 0.75rem;
    font-weight: 500;

}
.historyTeam{
    padding-left:0.25rem;
    font-size: 0.75rem;
    font-weight: 700;
}
.head{
    margin-top: 1rem;
    margin-bottom : 1rem;
    line-height: 2rem;
    display: inline-block;
    border-bottom: 3px solid red;
    font-weight: 700;
}
