.contentWrap{
    display: inline-block;
    position: relative;
    width: 100vh;
    height: calc(100vh - 4.4rem);
    overflow: hidden;
  }
    
  .image{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -99;
    }
  .titleWrap{
    position: absolute;
    bottom: 15%;
    left: 5%;
  }
  .title{
    margin-bottom: 5%;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
    1px 1px #000, -1px -1px #000, -1px 1px #000; 
  }
  .btn{
    color: #fff;
    box-sizing: border-box;
    border: 2px solid #fff;
    padding: 1% 5%;
    font-weight: 400;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
    1px 1px #000, -1px -1px #000, -1px 1px #000; 
    transition: all .2s linear; 
      &:hover{
        background-color: #fff;
      color: #000;
      text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
      2px 1px #fff, -1px -1px #fff, -1px 1px #fff; 
      }
  }
  @media only screen and (max-width: 600px){
    .titleWrap{
    bottom: 40%;
    left: 5%;
  }
  }