.bgRed{
    background-color: red !important;
}
.img{
    margin-left: 48%; 
    margin-top: 0.4rem;
    transition: all .7s ease;
    &:hover{
        transform: scale(115%);
    }
}
.home{
transition: all .2s linear;
overflow: visible !important;
&:hover{
    color: red;
}
}
.signInBtn{
    font-size: 1rem;
    font-weight: 500;
        background: red;
        padding: 6px;
        border: solid 2px #fff;
        transition: all 0.2s linear;
        opacity: 1;
    &:hover{
        background: rgba(255,0,0,0.7);
        border-radius: 0.5rem;
        border-width: 2px;
        opacity: 0.96;
    }
    
}
.featured {
    & li:first-child{
        visibility: visible !important ;
        opacity: 1;
        display: block;
        margin-top: 0 !important;
    }
    transition: all .4s linear;
    &:focus .subNav,
    &:focus-within .subNav,
    &:hover .subNav:nth-child(n+2){
        margin-top: 0;
        visibility: visible;
        opacity: 1;
        z-index: 99;
    }
}
.subNav{
    display: block;
    margin-top: -4rem;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    padding: 1.25rem 2.25rem 1.25rem 0.5rem;
    box-shadow: 0 0 2rem rgba($color: #333, $alpha: 0.3);
    color: #fff;
    background-color: #000;
    transition: all .4s ease-in-out;
    &:hover{
        color: red;
    }
   
}